%h1.text-center.mt-4 Detalle del Departamento

%div.card.shadow.mt-4
  %div.card-header.bg-primary.text-white
    Detalles
  %div.card-body
    %p
      %strong Nombre:
      = @state.name
    %p
      %strong País:
      = @state.country&.name
    %p
      %strong Código ISO:
      = @state.iso_code
    %p
      %strong Activo:
      = @state.active ? "Sí" : "No"

%div.mt-4
  = link_to 'Editar', edit_state_path(@state), class: 'btn btn-warning'
  = link_to 'Eliminar', @state, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger ml-2'
  = link_to 'Volver', states_path, class: 'btn btn-secondary ml-2'
