%h1.text-center.mt-4 Listado de Tipos de Documento

%div.table-responsive
  %table.table.table-bordered.table-striped
    %thead.thead-dark
      %tr
        %th Nombre
        %th Nombre Corto
        %th Orden de Visualización
        %th Activo
        %th Acciones

    %tbody
      - @document_types.each do |document_type|
        %tr
          %td= document_type.name
          %td= document_type.short_name
          %td= document_type.display_order
          %td= document_type.active ? 'Sí' : 'No'
          %td
            = link_to 'Ver', document_type, class: "btn btn-sm btn-primary"
            = link_to 'Editar', edit_document_type_path(document_type), class: "btn btn-sm btn-warning mx-2"
            = link_to 'Eliminar', document_type, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-sm btn-danger"

%div.mt-4
  = link_to 'Nuevo Tipo de Documento', new_document_type_path, class: "btn btn-success"
