= form_with(model: billing_type, local: true) do |f|
  %div.row
    %div.col-md-6.form-group
      = f.label :name, "Nombre", class: "form-label"
      = f.text_field :name, class: "form-control", placeholder: "Ingrese el tipo de facturación"

  %div.mt-3
    = f.submit "Guardar", class: "btn btn-primary"
    = link_to "Cancelar", billing_types_path, class: "btn btn-secondary ml-2"
