= form_with(model: subregion, local: true) do |f|
  %div.row
    %div.col-md-6.form-group
      = f.label :name, "Nombre", class: "form-label"
      = f.text_field :name, class: "form-control", placeholder: "Ingrese el nombre de la subregión"

    %div.col-md-6.form-group
      = f.label :region_id, "Región", class: "form-label"
      = f.collection_select :region_id, Region.all, :id, :name, { prompt: "Seleccione una región" }, class: "form-control"

  %div.row.mt-3
    %div.col-md-6.form-group
      = f.label :created_by, "Creado Por", class: "form-label"
      = f.text_field :created_by, class: "form-control", placeholder: "Ingrese quién creó esta subregión"

    %div.col-md-6.form-check
      = f.check_box :active, class: "form-check-input"
      = f.label :active, "Activo", class: "form-check-label"

  %div.mt-3
    = f.submit "Guardar", class: "btn btn-primary"
    = link_to "Cancelar", subregions_path, class: "btn btn-secondary ml-2"
