%h1.text-center.mt-4 Detalle de la Subregión

%div.card.shadow.mt-4
  %div.card-header.bg-primary.text-white
    Detalles
  %div.card-body
    %p
      %strong Nombre:
      = @subregion.name
    %p
      %strong Región:
      = @subregion.region&.name
    %p
      %strong Creado Por:
      = @subregion.created_by
    %p
      %strong Activo:
      = @subregion.active ? "Sí" : "No"

%div.mt-4
  = link_to 'Editar', edit_subregion_path(@subregion), class: 'btn btn-warning'
  = link_to 'Eliminar', @subregion, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger ml-2'
  = link_to 'Volver', subregions_path, class: 'btn btn-secondary ml-2'
