%h1 Listing countries

%table
  %thead
    %tr
      %th Name
      %th Short name
      %th Native name
      %th Iso2
      %th Iso3
      %th Phone code
      %th Currency
      %th Currency name
      %th Currency symbol
      %th Timezone
      %th Translations
      %th Flag
      %th Wiki data
      %th Region
      %th Active
      %th
      %th
      %th

  %tbody
    - @countries.each do |country|
      %tr
        %td= country.name
        %td= country.short_name
        %td= country.native_name
        %td= country.iso2
        %td= country.iso3
        %td= country.phone_code
        %td= country.currency
        %td= country.currency_name
        %td= country.currency_symbol
        %td= country.timezone
        %td= country.translations
        %td= country.flag
        %td= country.wiki_data_id
        %td= country.region
        %td= country.active
        %td= link_to 'Show', country
        %td= link_to 'Edit', edit_country_path(country)
        %td= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Country', new_country_path
