%h1.text-center.mt-4 Detalle del País

%div.card.shadow.mt-4
  %div.card-header.bg-primary.text-white
    Detalles
  %div.card-body
    %p
      %strong Nombre:
      = @country.name
    %p
      %strong Código ISO:
      = @country.iso2
    %p
      %strong Moneda:
      = @country.currency_name
    %p
      %strong Símbolo:
      = @country.currency_symbol
    %p
      %strong Activo:
      = @country.active ? "Sí" : "No"

%div.mt-4
  = link_to 'Editar', edit_country_path(@country), class: 'btn btn-warning btn-sm'
  = link_to "Eliminar", @country, method: :delete, data: { turbo_method: "delete", confirm: "¿Estás seguro?" }, class: 'btn btn-danger btn-sm'
  = link_to 'Volver', country_path, class: 'btn btn-secondary btn-sm ml-2'

