%h1.text-center.mt-4 Listado de Ciudades

%div.table-responsive
  %table.table.table-bordered.table-striped
    %thead.thead-dark
      %tr
        %th Nombre
        %th Estado
        %th País
        %th Activo
        %th Acciones

    %tbody
      - @cities.each do |city|
        %tr
          %td= city.name
          %td= city.state&.name
          %td= city.country&.name
          %td= city.active ? "Sí" : "No"
          %td
            = link_to 'Ver', city, class: 'btn btn-sm btn-primary'
            = link_to 'Editar', edit_city_path(city), class: 'btn btn-sm btn-warning mx-2'
            = link_to 'Eliminar', city, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-danger'

%div.mt-4
  = link_to 'Nueva Ciudad', new_city_path, class: 'btn btn-success'
