%h1.text-center.mt-4 Listado de Regiones

%div.table-responsive
  %table.table.table-bordered.table-striped
    %thead.thead-dark
      %tr
        %th Nombre
        %th Descripción
        %th Creado Por
        %th Activo
        %th Acciones

    %tbody
      - @regions.each do |region|
        %tr
          %td= region.name
          %td= region.description
          %td= region.created_by
          %td= region.active ? "Sí" : "No"
          %td
            = link_to 'Ver', region, class: 'btn btn-sm btn-primary'
            = link_to 'Editar', edit_region_path(region), class: 'btn btn-sm btn-warning mx-2'
            = link_to 'Eliminar', region, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-sm btn-danger'

%div.mt-4
  = link_to 'Nueva Región', new_region_path, class: 'btn btn-success'
