!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "MyApp"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", media: "all", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", media: "all"
    = javascript_importmap_tags

  %body.d-flex
    %nav.sidebar.bg-dark.text-white
      %div.sidebar-header.text-center
        = image_tag "logo.png", alt: "Logo de CandeAseo", class: "img-fluid", style: "max-height: 60px;"
      %ul.nav.flex-column
        %li.nav-item
          = link_to t("menu.home"), root_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.identity_document_types"), identity_document_types_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.document_types"), document_types_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.billing_types"), billing_types_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.genders"), genders_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.roles"), roles_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.regions"), regions_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.countries"), countries_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.states"), states_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.subregions"), subregions_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.cities"), cities_path, class: "nav-link text-white"

    %div.content.flex-grow-1
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-sm
        %div.container
          %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav"}
            %span.navbar-toggler-icon
          %div#navbarNav.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item
                -# = link_to "Logout", logout_path, class: "nav-link"

      %div.container.mt-4
        - if flash[:notice]
          %div.alert.alert-success.mt-2= flash[:notice]

        - if flash[:alert]
          %div.alert.alert-danger.mt-2= flash[:alert]

        = yield
