!!! 5
%html
  %head
    %title= content_for?(:title) ? yield(:title) : "MyApp"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
  %body.d-flex
    %nav.sidebar.bg-dark.text-white
      %div.sidebar-header.text-center
        = image_tag "logo.png", alt: "Logo de CandeAseo", class: "img-fluid mb-3", style: "max-height: 60px;"
      %ul.nav.flex-column
        %li.nav-item
          = link_to t("menu.document_types"), document_types_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.billing_types"), billing_types_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.genders"), genders_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.roles"), roles_path, class: "nav-link text-white"
        %li.nav-item
          = link_to t("menu.home"), root_path, class: "nav-link text-white"



    %div.content.flex-grow-1
      %nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-sm
        %div.container
          %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNav"}
            %span.navbar-toggler-icon
          %div#navbarNav.collapse.navbar-collapse
            %ul.navbar-nav.ml-auto
              %li.nav-item
                -# = link_to "Logout", logout_path, class: "nav-link"
      %div.container.mt-4
        = yield
